.music{
    position: relative;
    color: white;
    width: 70%;
}
.music:hover:before{
    content: '';
    background:var(--bg-hover);
    position:absolute;
    width: 100%;
    height: 86%;
    opacity: 50%;
    border-radius: 1rem;
    cursor: pointer;
    overflow: none;
}
.music__content{
    gap: 2rem;
    position:absolute;
    top: 10rem;
    right: 5rem;
    display: none;
    cursor: pointer;
}
.music:hover .music__content {
    display: flex;
}
.music__image{

}
.music__name{

}
