.artist{
position: relative;
text-align: center;
margin-left: -10rem;
}
.artist__image{
    border-radius: 50%;
}
.artist__name{

}
.artist:hover:before{
    content: '';
    background:var(--bg-hover);
    position:absolute;
    width: 53.5%;
    height: 86%;
    opacity: 50%;
    top: 0;
    border-radius: 50%;
    cursor: pointer;
   
}
  