.podcast-category{
    position: relative;
  }
  .podcast-category__image{
    cursor: pointer;
  }
  .podcast-category:hover:before{
    content: '';
    background:var(--bg-hover);
    position:absolute;
    width: 70%;
    height: 77%;
    opacity: 50%;
    border-radius: 1rem;
    top: 2.2rem;
    cursor: pointer;
  }
  