.Home{
}
.recently-played{
}
.recently-played__wrapper{
   
}
.recently-played__top{
    
}
.recetly-played__title{
   
}
.recently-played__buttons{
 display: flex;
 
 cursor: pointer;
 color: var(--black);
}
.recently-played__button{

}
.recently-played__button:hover{
    stroke: var(--white);
}
.recently-played__musics{
   
}
.recently-played__musics:hover{
}


/* 
 __________category_______________
*/
.categories-section{

}
.category-wrapper{
}
.categories{

}
/* 
 __________Days_______________
*/
.days{
}
.days__wrapper{
    
}
.days__top{
    
}
.days__title{
}
.days__view{
    cursor: pointer;
}
.days__musics{
}

/* 
 __________Podcast Category_______________
*/
.category-podcast{
}
.category-podcast__wrapper{

}
.category-podcast__top{

}
.category-podcast__title{

}
.category-podcast__view{

}
.category-podcast__musics{

}




/* 
 __________PlayList_______________
*/
.playlist{
}
.playlist__wrapper{

}
.playlist__top{

}
.playlist__title{

}
.playlist__buttons{
}
.playlist__button{

}
.playlist__musics{

}





/* 
 __________New Releases_______________
*/

.new-releases{
}
.new-releases__wrapper{
}
.new-releases__top{
    
}
.new-releases__title{

}
.new-releases__view{

}
.new-releases__musics{

}







/* 
 __________Artist_______________
*/
.artist{

}
.artist__wrapper{

}
.artist__top{

}
.artist__title{

}
.artist__buttons{
}
.artist__button{

}
.artist__button{

}
.artist__musics{

}
