.category{
  position: relative;
  width: 76%;
}
.category__image{
  cursor: pointer;
}
.category:hover:before{
  content: '';
  background:var(--bg-hover);
  position:absolute;
  width: 20%;
  height: 75%;
  opacity: 50%;
  border-radius: 1rem;
  top: 2.7rem;
  cursor: pointer;
}
