.pocast-detail{
    margin-top: 5rem;
}
.podcast-detail__top{
    justify-content: space-between;
    margin:0 25rem ;
}
.podcast-detail__left{
    
}
.podcast-detail__play{
    padding: 1rem 8rem;
    border-radius: 4rem;
    background-image: linear-gradient(to right, #2dceef, #2ed3f2, #2fd8f4, #31ddf7, #34e2f9);
    cursor: pointer;
}

.podcast-detail__play:hover{
    color: black;
}

.podcast-detail__like{
    cursor: pointer;

}
.podcast-detail__information{
    cursor: pointer;

}
.podcast-detail__right{
    align-content: center;
    gap: 2rem;
}
.podcast-detail__image{

}
.podcast-detail__content{
    margin-left: 8rem;
}
.podcast-detail__title{
    font-size: 4rem;
    font-family: var(--font-lato-bold);
}
.podcast-detail__caption{
    font-size: 2rem;
    color: var(--text-hover);
}
.podcast-detail__links{
    margin-top: 4rem;
    gap: 5rem;
}
.podcast-detail__link{
    
}